In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("weather_2012.csv")
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8449,2012-12-18 01:00:00,0.1,-0.9,93,24,19.3,100.37,Cloudy
4474,2012-07-05 10:00:00,22.0,15.6,67,9,48.3,100.72,Mostly Cloudy
3381,2012-05-20 21:00:00,24.0,11.8,46,11,25.0,101.60,Mainly Clear
329,2012-01-14 17:00:00,-17.4,-24.4,54,13,25.0,101.36,Mostly Cloudy
2318,2012-04-06 14:00:00,8.6,-8.5,29,9,48.3,101.13,Mainly Clear

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [7]:
df.rename(columns = {'Date/Time':'date_time', 'Temp (C)':'temp_c', 'Dew Point Temp (C)':'dew_point', 'Rel Hum(%)':'relative_humidity', 'Wind Spd (km/h)':'wind_speed', 'Visibility (km)':'visibility','Stn Press (kPa)':'pressure', 'Weather':'weather'}, inplace=True)

In [8]:
df.describe

<bound method NDFrame.describe of                 date_time  temp_c  dew_point  Rel Hum (%)  wind_speed  \
0     2012-01-01 00:00:00    -1.8       -3.9           86           4
1     2012-01-01 01:00:00    -1.8       -3.7           87           4
2     2012-01-01 02:00:00    -1.8       -3.4           89           7
3     2012-01-01 03:00:00    -1.5       -3.2           88           6
4     2012-01-01 04:00:00    -1.5       -3.3           88           7
...                   ...     ...        ...          ...         ...
8779  2012-12-31 19:00:00     0.1       -2.7           81          30
8780  2012-12-31 20:00:00     0.2       -2.4           83          24
8781  2012-12-31 21:00:00    -0.5       -1.5           93          28
8782  2012-12-31 22:00:00    -0.2       -1.8           89          28
8783  2012-12-31 23:00:00     0.0       -2.1           86          30

      visibility  pressure               weather
0            8.0    101.24                   Fog
1            8.0    101.24                   Fog
2            4.0    101.26  Freezing Drizzle,Fog
3            4.0    101.27  Freezing Drizzle,Fog
4            4.8    101.23                   Fog
...          ...       ...                   ...
8779         9.7    100.13                  Snow
8780         9.7    100.03                  Snow
8781         4.8     99.95                  Snow
8782         9.7     99.91                  Snow
8783        11.3     99.89                  Snow

[8784 rows x 8 columns]>

In [9]:
temp_f=((temp_c*9/5)+32)

NameError: name 'temp_c' is not defined

In [10]:
df.dtypes

date_time       object
temp_c         float64
dew_point      float64
Rel Hum (%)      int64
wind_speed       int64
visibility     float64
pressure       float64
weather         object
dtype: object

In [11]:
df['date_time']=pd.to_datetime(df['date_time'])
df.date_time

0      2012-01-01 00:00:00
1      2012-01-01 01:00:00
2      2012-01-01 02:00:00
3      2012-01-01 03:00:00
4      2012-01-01 04:00:00
               ...
8779   2012-12-31 19:00:00
8780   2012-12-31 20:00:00
8781   2012-12-31 21:00:00
8782   2012-12-31 22:00:00
8783   2012-12-31 23:00:00
Name: date_time, Length: 8784, dtype: datetime64[ns]

In [12]:
weather=df['weather'].value_counts()
weather

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: weather, dtype: int64

In [13]:
weather.head(10)

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

In [ ]:
df.query('temp_f>90 & humidity<50 & dew_point>17 & weather=="Clear"')

In [14]:
df['month']=df['date_time'].dt.month
df.month

0        1
1        1
2        1
3        1
4        1
        ..
8779    12
8780    12
8781    12
8782    12
8783    12
Name: month, Length: 8784, dtype: int64

In [15]:
df_new=df.to_csv('weather_2012_new.csv', index=False)
df_new

# Braden Heuglin
## Version 1
### IP3_BMH